<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>dashboard</title>

     <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   
   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- custom css file link  -->
   <link rel="stylesheet" href="~/css/edit-style.css">
   <style>
       body{
           background-color:orange;
       }
       .logo a{
      font-size: 25px;
      color:black;
      margin-left:100px;
      margin-top:10px;
      text-decoration:underline;
   }
.logo a:hover{
    color:orangered;
       }
        #content
        {
           flex-grow: 1;
           width:100%;
           height:100%;
           margin:0 auto;
           overflow: auto; 
           font-size:16px;
        }
   </style>
    @await RenderSectionAsync("stylecss", required: false)
</head>
<body>
<div class="logo">
      <a asp-controller="Home" asp-action="Index" class="logo">Shopie<span>.</span></a>
</div>
<section class="container container-fluid">
    @RenderBody()
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/admin_script.js"></script>
 @await RenderSectionAsync("Scripts", required: false)
 </body>
</html>