<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>dashboard</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">   <!-- custom css file link  -->

   <!-- custom css file link  -->
   <link rel="stylesheet" href="~/css/edit-style.css">
   <style>
       .logo a{
      font-size: 25px;
      color:black;
      margin-left:100px;
      margin-top:10px;
      text-decoration:underline;
   }
.logo a:hover{
    color:orange;
       }
   </style>
    @await RenderSectionAsync("stylecss", required: false)
</head>
<body>
<div class="logo">
      <a asp-controller="Home" asp-action="Index" class="logo">Shopie<span>.</span></a>
</div>
<div>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary" style="margin:25px 0 0 100px">Back to Dashboard</a>
</div>


@RenderBody();



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="~/js/admin_script.js"></script>
 @await RenderSectionAsync("Scripts", required: false)
 </body>
</html>