


<style>
    body{
        width:100%;
        height:100%;
        background-color:orangered;
        font-size:30px;
        color:green;
        margin:0 auto;
        padding:0;
    }
</style>

<section class="justify-content-center">
    <h1 style="color:black">Error.</h1> 
    <div>
        <p>
            An error occurred while processing your request.
        </p>
    </div>
</section>