@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_Layout";
}
<section class="form-container">

   <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger" style="font-size:14px;"></div>
      <input type="email" asp-for="Email" required placeholder="enter your email"   class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="submit" value="Forgot Password" class="btn" name="submit">
   </form>

</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}