 @model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_Layout";
}
<section class="form-container">

   <form asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All" class="text-danger" style="font-size:14px;"></div>
      <input type="password" asp-for="Password" required placeholder="enter your password"   class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="password" asp-for="ConfirmPassword" required placeholder="enter your confirmed password"   class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="hidden" asp-for="Email" class="form-control" />
      <input type="hidden" asp-for="Token" class="form-control" />
      <input type="submit" value="Reset Password" class="btn" name="submit">
   </form>

</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}