


<style>
    body{
        width:100%;
        height:100%;
        background-color:orangered;
        font-size:30px;
        color:green;
        margin:0 auto;
        padding:0;
    }
</style>

<section class="justify-content-center">
    <h1 style="color:black">ResetPasswordConfirmation</h1> 
    <div>
        <p>
             Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</section>