



<style>
    body{
        width:100%;
        height:100%;
        background-color:orangered;
        font-size:30px;
        color:blue;
        margin:0 auto;
        padding:0;
    }
</style>

<section class="justify-content-center">
    <h1 style="color:black">ConfirmEmail</h1> 
    <div>
        <p>
        Please Check Your Email For Verification Action.
        </p>
    </div>
</section>